<launch>

   <!-- This lauch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server with the name "robot_description" to be afterwards used --> 
  <arg name="robot_name" default="iiwa"/>
  <arg name="hardware_interface" default="PositionJointInterface"/>
  
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find iiwa_gazebo)/urdf/iiwa14.urdf.xacro' robot_name:=$(arg robot_name)" />
</launch> 
