<launch>

    <!-- roslaunch iiwa_gazebo iiwa_world.launch-->
    <include file="$(find iiwa_gazebo)/launch/iiwa_world.launch" />
    
    <!--Load parameters-->
    <rosparam command="load" file="$(find iiwa_command)/config/params.yaml"/>

    <!-- Launch iiwa_command node -->
    <node pkg="iiwa_command" name="iiwa_command" type="iiwa_command" respawn="true" output="screen" launch-prefix="xterm -e"/>
    
</launch>
